<% layout('layouts/boilerplate') -%>

<div class="row product">
  <% for(let product of products){%>
  <div class="col-lg-4 mb-3">
    <div class="card mx-4 shadow-sm text-center" style="width: 18rem">
      <img src="<%= product.img %> " class="card-img-top" alt="item image" />
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <p class="card-text"><%= product.desc.substring(0,100) %>...</p>
        <h5 class="card-title">$ <%= product.price %></h5>
        <a href="/products/<%= product._id %> " class="btn btn-primary btn-sm">Buy Now</a>
      </div>
    </div>
  </div>
  <%} %>
</div>
